.blog_cards{ 
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(0, 23%));
    justify-content: space-between;
    gap: 30px;
    row-gap: 60px;  
}



/* .blog_item:hover{
transform: translateY(-8px);
cursor: pointer;
    
} */


.blog_item h4{
    font-size: 1.3rem;
    color: var(--text-green);
    margin-bottom: 0;
    margin-top: 0.5rem;
    
}

.ED_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ED_btn button{
    margin-top: 20px;
    font-size: 12px;
    padding: 10px 15px;
    background: var(--color-primary);
    border-radius: 12px;
    
}