 
@media (max-width:1200px){
  .ingredients_flex{
        grid-template-columns: repeat(auto-fill, minmax(0, 30%));
  }
  .reu_image{
    height: 450px;
  }
  
}

 
@media (min-width:500px) and (max-width:700px){
    .ingredients_flex{
        grid-template-columns: repeat(auto-fill, minmax(0, 47%));
        gap: 20px;
  }
  .reu_image{
    height: 350px;
  }

  /* .trend_recipe{
    font-size: 3rem;
  } */

  

} 


@media (max-width:500px){

  .ingredients_flex{
        grid-template-columns: repeat(auto-fill, minmax(0, 97%));
        gap: 30px;
        justify-content: center;
  }
  .reu_image{
    height: 300px;
  }

  /* .trend_recipe{
    font-size: 2rem;
  } */

   .ingredient_h2 {
        font-size:2rem;
    }
 

} 

